Part 2/glove.840B.300d.txt
Part 2/glove.840B.300d.zip
Part 1/Code/.ipynb_checkpoints/
Part 1/Jupyter/.ipynb_checkpoints/
Part 1/Code/__pycache__/
Part 2/Code/.ipynb_checkpoints/
Part 2/Jupyter/.ipynb_checkpoints/
Part 2/Code/__pycache__/
